.Lore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}
.lore-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 10px;

    padding-inline: 30px;
    padding-block: 10px;
    border: 2px solid;
    width: 55%;
    border-radius: 5px;
}
.gif-set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media(max-width: 768px) {
    .gif-set {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}